{% extends "layout.html.twig" %}

{% block title %}更新 | ランキング情報{% endblock %}

{% block css %}
<link rel="stylesheet" href="/css/vendor/jquery.datetimepicker.min.css">
{% endblock %}

{% block javascript %}
<script src="/js/vendor/jquery.datetimepicker.full.min.js"></script>
<script src="/js/vendor/jsrender.min.js"></script>
<script src="/js/api.js"></script>
<script src="/js/form.js"></script>
<script src="/js/modal/select-title.js"></script>
<script src="/js/title_ranking/form.js?v=20180918"></script>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">ダッシュボード</li>
    <li class="breadcrumb-item">ランキング情報</li>
    <li class="breadcrumb-item active">更新</li>
</ol>
{% endblock %}

{% block container %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <form name="title_ranking" method="post" action="{{ path_for('title_ranking_update') }}">
                <div class="card-header">
                    ランキング情報更新
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">集計期間</label>
                        <div class="col-md-6">
                            <div class="form-inline input-group">
                                <input type="text" name="from_date" class="form-control datepicker{% if errors.from_date %} is-invalid{% elseif is_validated %} is-valid{% endif %}" value="{{ values.from_date }}">
                                <div class="input-group-addon">
                                    <span class="input-group-text">～</span>
                                </div>
                                <input type="text" name="to_date" class="form-control datepicker{% if errors.to_date %} is-invalid{% elseif is_validated %} is-valid{% endif %}" value="{{ values.to_date }}">
                            </div>
                            {# mergeだと同じキーは上書きされるが、同じメッセージは表示されないのでこれで良い #}
                            {% set termErrors = [] %}
                            {% if errors.from_date %}
                                {% set termErrors = termErrors|merge(errors.from_date) %}
                            {% endif %}
                            {% if errors.to_date %}
                                {% set termErrors = termErrors|merge(errors.to_date) %}
                            {% endif %}
                            
                            {##
                             # エラーを表示するためのhidden
                             # input.is-invalidの隣に.invalid-feedbackがないと表示されないみたいだが、
                             # それをやると見た目が良くないので。
                             #}
                            <input type="hidden" class="form-control {% if termErrors %} is-invalid{% endif %}">
                            <div class="invalid-feedback">
                                {% for message in termErrors %}
                                    {{ message }}
                                    {% if not loop.last %}<br />{% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">ランキング</label>
                        <div id="ranks" class="col-md-9">
                        
                        {% for rank in 1..5 %}
                            {% include 'title_ranking/include/fieldset_rank.html.twig' with {
                                rank: rank,
                                values: values.ranks[rank],
                            } only %}
                        {% endfor %}
                            
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% include 'include/modal/select_title.html.twig' only %}
{% endblock %}
