{% extends "layout.html.twig" %}

{% block title %}Hello World!{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item active">ダッシュボード</li>
</ol>
{% endblock %}

{% block container %}
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Hello World!
            </div>
            <div class="card-body">
                <p>Hello {{ name }}!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
