.gcloudignore

.git
.gitignore

.circleci/
cache/
docker/
report/
tests/
vendor/
.editorconfig
.env
.env.example
.env.test
.phpunit.result.cache
docker-compose.yml
INSTALL.md
phpcs.xml
phpstan.neon
phpunit.xml
README.md
