<div class="sidebar">
    <nav class="sidebar-nav ps">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path_for('homepage') }}">ダッシュボード</a>
            </li>
        </ul>
    </nav>
</div>
