{##
 # 上映方式 fieldset
 #
 # jsrenderのテンプレートにも使用する。
 #
 # Parameters:
 # * index
 #}
 {% set index = 'i' ~ index %} {# マージするため添字は文字列にする #}
<div class="card format" data-index="{{ index }}">
    <div class="card-body">
        <div class="form-group row">
            <div class="col-md-3">
                <select name="formats[{{ index }}][system]" class="form-control">
                    <option value=""></option>
                    <option value="">2D</option>
                    <option value="">3D</option>
                    <option value="">IMAX</option>
                </select>
            </div>
            <div class="col-md-3">
                <select name="formats[{{ index }}][voice]" class="form-control">
                    <option value=""></option>
                    <option value="">字幕</option>
                    <option value="">吹替</option>
                </select>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-danger btn-delete"><i class="icon-trash"></i></button>
            </div>
        </div>
    </div>
</div>
