{% extends "layout.html.twig" %}

{% block title %}新規追加 | キャンペーン情報{% endblock %}

{% block css %}
<link rel="stylesheet" href="/css/vendor/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
{% endblock %}

{% block javascript %}
<script src="/js/vendor/bootstrap-datepicker.min.js"></script>
<script src="/js/vendor/bootstrap-datepicker.ja.min.js"></script>
<script src="/js/vendor/jsrender.min.js"></script>
<script src="/js/api.js"></script>
<script>
$(function(){
    var datepickerOption = {
        format: 'yyyy/mm/dd',
        language: 'ja'
    };
    
    $('.input-daterange').datepicker(datepickerOption);
    
    var $form = $('form[name="campaign"]');
    var $titleField = $form.find('.form-group.title');
    
    $titleField.find('.btn-clear').click(function() {
       clearTitle(); 
    });
    
    var $selectTitleModal = $('#selectTitleModal');
    var selectTitleRowTmpl = $.templates("#selectTitleRowTmpl");
    
    $selectTitleModal.on('selected.cs.title', function(event, id, name) {
        setTitle(id, name);
    });
    
    $selectTitleModal.on('click', '.btn-select', function() {
        var $titleRow = $(this).parents('.title');
        
        $(this).trigger('selected.cs.title', [
            $titleRow.data('id'),
            $titleRow.data('name')
        ]);
        
        $selectTitleModal.modal('hide');
    });
    
    $selectTitleModal.find('.btn-find').click(function(){
        var name = $selectTitleModal.find('input[name="name"]').val();
        
        if (!name) {
            return;
        }
        
        var $list = $selectTitleModal.find('tbody.list');
        $list.empty();
        
        var jqXHR = api.title.find(name);
        jqXHR
            .done(function(data) {
                $.each(data.data, function(i, title) {
                    $list.append(
                        selectTitleRowTmpl.render(title)
                    );
                });
            })
            .fail(function() {
            });
    });
    
    /**
     * set title
     * 
     * @param {Integer} id
     * @param {String}  name
     */
    function setTitle(id, name) {
        $titleField.find('input[name="title_id"]').val(id);
        $titleField.find('.title-name').text(name);
        $titleField.find('.btn-clear').show();
    }
    
    /**
     * clear title
     */
    function clearTitle() {
        $titleField.find('input[name="title_id"]').val('');
        $titleField.find('.title-name').text('選択されていません。');
        $titleField.find('.btn-clear').hide();
    }
    
    /**
     * execute
     */
    function execute() {
        var id = $('input[name="title_id"]').val();
        
        if (!id) {
            clearTitle();
        }
    }
    
    execute();
});
</script>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">ダッシュボード</li>
    <li class="breadcrumb-item">キャンペーン情報</li>
    <li class="breadcrumb-item active">新規追加</li>
</ol>
{% endblock %}

{% block container %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <form name="campaign" method="post" enctype="multipart/form-data" action="#">
                <div class="card-header">
                    新規追加
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">ID</label>
                        <div class="col-md-9">
                            <p class="form-control-static">&nbsp;</p>
                            <span class="help-block">※自動でIDが付与されます。</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">キャンペーン名</label>
                        <div class="col-md-9">
                            <input type="text" name="name" class="form-control" value="" />
                            <div class="invalid-feedback">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row title">
                        <label class="col-md-3 col-form-label">該当作品</label>
                        <div class="col-md-9">
                            <input type="hidden" name="title_id" value="">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="form-control-static title-name"></p>
                                </div>
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#selectTitleModal">作品選択</button>
                                    <button type="button" class="btn btn-danger btn-clear">選択解除</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">実施期間</label>
                        <div class="col-md-6">
                            <div class="form-inline input-group input-daterange">
                                <input type="text" name="start_dt" class="form-control" value="">
                                <div class="input-group-addon">
                                    <span class="input-group-text">～</span>
                                </div>
                                <input type="text" name="end_dt" class="form-control" value="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">リンクURL</label>
                        <div class="col-md-9">
                            <input type="url" name="url" class="form-control" value="" />
                            <div class="invalid-feedback">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">メイン画像</label>
                        <div class="col-md-9">
                            <input type="file" name="image" class="form-control" />
                            <span class="help-block">jpg、png、gif形式のみ対応。○○MB以内。</span>
                            <div class="invalid-feedback">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="selectTitleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="h4 modal-title">作品選択</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">作品名</label>
                        <div class="col-md-9">
                            <input type="text" name="name" class="form-control" />
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary btn-find">検索</button>
                </form>
                
                <hr>
                
                <table class="table table-responsive-md">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>作品名</th>
                            <th>選択</th>
                        </tr>
                    </thead>
                    <tbody class="list">
                        <!-- add #selectTitleRowTmpl -->
                    </tbody>
                    <script id="selectTitleRowTmpl" type="text/x-jsrender">
                    {% verbatim %}
                        <tr class="title" data-id="{{:id}}" data-name="{{:name}}">
                            <th>{{:id}}</th>
                            <th>{{:name}}</th>
                            <th><button type="button" class="btn btn-success btn-select">選択</button></th>
                        </tr>
                    {% endverbatim %}
                    </script>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
