{##
 # ランク field
 #
 # Parameters:
 # * rank
 #}
<div class="card rank">
    <div class="card-body">
        <div class="form-group row field-title">
            <label class="col-md-2 col-form-label">{{ rank }}位</label>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <p class="form-control-static title-name"></p>
                        <input type="hidden" name="rank{{ rank }}_title_name" value="">
                        <input type="hidden" name="rank{{ rank }}_title_id" class="form-control" value="">
                        <div class="invalid-feedback">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#selectTitleModal">作品選択</button>
                        <button type="button" class="btn btn-danger btn-clear">選択解除</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>